@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 40.625rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .wrapper {
      min-height: auto; } }

.sitecontent {
  height: 100%;
  min-height: 40.625rem;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  will-change: tramsform; }
  @media screen and (max-width: 768px) {
    .sitecontent {
      min-height: auto; } }

.section {
  height: 100%;
  min-height: 40.625rem;
  background-color: rgba(0, 0, 0, 0.31);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: auto; } }

.container {
  max-width: 58.75rem;
  min-height: 18.75rem;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.h2__titlestyle {
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42; }
  @media screen and (max-width: 480px) {
    .h2__titlestyle {
      font-size: 3.75rem; } }

.main {
  background-image: url("../img/main/bg_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.main__container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  padding-top: 0.3125rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.9375rem; }

.logo__img {
  max-width: 100%; }

.header__menu {
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.9375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.75rem; }
    @media screen and (max-width: 768px) {
      .nav__item:after {
        margin: 0 47%;
        width: 0.4375rem;
        height: 0.4375rem;
        border-radius: 0.21875rem;
        background-color: #fff; } }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.head__link {
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e25028;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  line-height: 1.42; }
  .head__link:hover {
    background-color: #bd3d1a; }
  @media screen and (max-width: 768px) {
    .head__link {
      margin-right: 4.375rem; } }

.main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 10%; }
  @media screen and (max-width: 768px) {
    .main__content {
      width: 80%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: -6.25rem;
      padding-bottom: 0;
      letter-spacing: -2px; } }

.main__textbox {
  padding-top: 7.5rem; }

.main__img,
.main__textbox {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .main__img,
    .main__textbox {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      padding: 0; } }

.main__img--icon {
  max-width: 100%;
  max-height: 100%; }
  @media screen and (max-width: 480px) {
    .main__img--icon {
      width: 100%;
      height: 100%; } }

.main__title {
  margin: 0;
  color: #f8b43a;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .main__title {
      font-size: 3.75rem; } }

.main__text {
  color: white;
  line-height: 1;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500; }
  @media screen and (max-width: 480px) {
    .main__text {
      font-size: 3.125rem; } }

.arrow__scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  padding-bottom: 0.625rem; }

.arrow__icon {
  width: 100%;
  height: 100%;
  fill: white; }

.about {
  background-image: url("../img/about/bg_about.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.about__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2f3234;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .about__title {
      font-size: 6.25rem;
      line-height: 5rem;
      margin-bottom: 3.125rem; } }
  @media screen and (max-width: 480px) {
    .about__title {
      font-size: 3.75rem;
      line-height: 3.125rem;
      margin-bottom: 1.25rem; } }

.about__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .about__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.about__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0.48125rem;
  margin: 0 0.48125rem; }
  @media screen and (max-width: 768px) {
    .about__item {
      margin: 0 0.4375rem;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .about__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      -webkit-box-pack: baseline;
      -webkit-justify-content: baseline;
      -ms-flex-pack: baseline;
      justify-content: baseline;
      margin: 0.48125rem 0; } }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .about__content {
      margin-left: 0.625rem;
      width: 100%; } }

.about__img {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .about__img {
      width: 9.375rem;
      height: 9.375rem; } }
  @media screen and (max-width: 480px) {
    .about__img {
      width: 5.625rem;
      height: 6.25rem; } }

.img__icon--meat {
  fill: #e25028; }

.img__icon--hand {
  fill: #f8b43a; }

.img__icon--natural {
  fill: #8ac03e; }

.aboutbox__title {
  font-family: lifehack;
  font-size: 1.3375rem;
  color: #2f3234;
  text-align: center;
  padding-bottom: 0.625rem;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .aboutbox__title {
      font-weight: 500;
      font-size: 1.75rem; } }
  @media screen and (max-width: 480px) {
    .aboutbox__title {
      font-size: 1.3375rem;
      padding-bottom: 0;
      margin-bottom: 0.3125rem;
      text-align: start; } }

.aboutbox__text {
  font-family: Ubuntu;
  font-weight: 300;
  color: #2f3234;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .aboutbox__text {
      font-size: 1.0625rem;
      line-height: 1.125rem; } }
  @media screen and (max-width: 480px) {
    .aboutbox__text {
      font-size: 0.9375rem;
      width: 95%;
      text-align: justify;
      line-height: 1.25rem; } }

.burger {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.container__burger {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 90%;
  position: relative;
  height: 65%;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .container__burger {
      max-width: 100%;
      width: 100%;
      height: 100%; } }

.burger__slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  white-space: nowrap; }
  @media screen and (max-width: 480px) {
    .burger__slider {
      height: 100%; } }

.slider__item {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .slider__item {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.burger__content {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  @media screen and (max-width: 768px) {
    .burger__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .burger__content {
      width: 100%; } }

.burger__content--arrow {
  width: 1.5625rem;
  position: absolute;
  height: 100%;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .burger__content--arrow {
      top: 35%; } }

.arrow__prev {
  left: 0; }

.arrow__next {
  right: 0; }

.arrow__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.arrow__icon {
  width: 1.5625rem; }
  .arrow__icon--rotleft {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .arrow__icon--rotright {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.burger__box {
  display: inline-block;
  width: 50%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .burger__box {
      text-align: center;
      width: 100%; } }

.burger__icon {
  max-width: 100%;
  max-height: 100%;
  padding: 10% 0; }
  @media screen and (max-width: 768px) {
    .burger__icon {
      max-width: 75%;
      padding-top: 5%;
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .burger__icon {
      max-width: 60%;
      padding-top: 5%;
      padding-bottom: 0; } }

.burger__options {
  position: absolute;
  left: 0;
  width: 5.3125rem;
  height: 5.3125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }
  .burger__options--ingredient {
    top: 0;
    background-color: #f08c33;
    border-radius: 0.3125rem; }
    .burger__options--ingredient:hover {
      background-color: #e25028; }
    @media screen and (max-width: 480px) {
      .burger__options--ingredient {
        top: 5%;
        left: 1%; } }
  .burger__options--calorific {
    bottom: 0.3125rem; }
    @media screen and (max-width: 768px) {
      .burger__options--calorific {
        top: 0;
        left: 90%; } }
    @media screen and (max-width: 480px) {
      .burger__options--calorific {
        top: 5%;
        left: 80%; } }
  .burger__options--hidenbar {
    display: none;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    left: 5.3125rem;
    width: 17.5rem;
    height: 21.25rem;
    background-color: white;
    opacity: 0.95;
    border-radius: 0.3125rem; }
    .burger__options--hidenbar--is-active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    @media screen and (max-width: 768px) {
      .burger__options--hidenbar {
        left: 5rem;
        top: 0;
        z-index: 1;
        width: 28.125rem; } }
    @media screen and (max-width: 480px) {
      .burger__options--hidenbar {
        left: 22%;
        top: 5%;
        z-index: 1;
        width: 19rem; } }

.hidenbar__exit {
  display: none;
  position: absolute;
  top: 0.9375rem;
  right: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .hidenbar__exit {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; } }

.exit__btn {
  position: absolute;
  width: 1.25rem;
  height: 0.1875rem;
  background: #e25028;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0.625rem; }
  .exit__btn::after {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 0.1875rem;
    background: #e25028;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 0.625rem; }
    @media screen and (max-width: 768px) {
      .exit__btn::after {
        left: 0; } }

.hidenbar__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  padding: 0 5%; }

.hidenbar__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.hidenbar__img {
  width: 2.8125rem;
  height: 2.8125rem; }

.hidenbar__text {
  margin: auto; }
  .hidenbar__text--item {
    text-align: start; }
  .hidenbar__text--weight {
    font-weight: 300;
    text-align: end;
    margin-right: 0.625rem; }
    @media screen and (max-width: 768px) {
      .hidenbar__text--weight {
        margin-right: 1.25rem; } }
    @media screen and (max-width: 480px) {
      .hidenbar__text--weight {
        margin-right: 1.25rem; } }

.option__img {
  margin: auto;
  width: 2.8125rem;
  height: 2.8125rem;
  fill: #fff; }
  .option__img--burger {
    margin-top: 0.625rem; }
  .option__img--kkal {
    width: 3.75rem;
    height: 3.75rem; }

.options__text {
  position: absolute;
  color: white;
  font-size: 1.0625rem; }
  .options__text--ingredient {
    bottom: 0.4375rem; }
  .options__text--number {
    font-size: 1.25rem;
    top: 2.375rem; }
  .options__text--kkal {
    bottom: -0.625rem; }

.burger__box--img {
  padding-left: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .burger__box--img {
      padding: 0; } }

.burger__box--text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  white-space: normal;
  padding-right: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .burger__box--text {
      padding-right: 5%;
      text-align: center; } }

.burger__text {
  margin: 0.3125rem 0;
  font-weight: 300;
  padding-bottom: 0.625rem; }
  @media screen and (max-width: 768px) {
    .burger__text {
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .burger__text {
      padding-bottom: 0;
      font-weight: 400;
      margin: 0 0.625rem;
      width: 100%;
      padding: 0 5%; } }

.burger__text--title {
  font-size: 4.375rem;
  line-height: 4.375rem;
  padding-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .burger__text--title {
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .burger__text--title {
      padding-bottom: 0;
      font-size: 3.9375rem;
      line-height: 3.9375rem; } }

.burger__text--price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burger__text--price {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.burger__price {
  color: #e25028;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline; }
  .burger__price--number {
    font-size: 4.375rem; }
  .burger__price--currency {
    font-size: 1.875rem; }
  .burger__price--link {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }

.burger__link {
  margin-left: 1.875rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent;
  background-color: #e25028;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.42;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .burger__link:hover {
    background-color: #bd3d1a; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

.review {
  position: relative;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .review:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2f3234;
    opacity: 0.8;
    z-index: 1; }
  .review:hover .review__content {
    visibility: visible; }
  @media screen and (max-width: 768px) {
    .review {
      width: 50%;
      height: 25%;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .review {
      width: 50%;
      height: 25%;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.review__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  visibility: hidden;
  padding-left: 1.25rem;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .review__content {
      padding-left: 0;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .review__content {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.review__name {
  font-family: 'gagalin';
  font-size: 0.9375rem;
  color: white;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
  z-index: 3; }
  @media screen and (max-width: 768px) {
    .review__name {
      font-size: 1.25rem;
      margin-top: 0.3125rem; } }

.review__mobile {
  display: none; }
  @media screen and (max-width: 480px) {
    .review__mobile {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: white;
      background-color: #2f3234;
      opacity: 0.99; } }

.review__text {
  font-family: 'ubuntu';
  font-weight: 400;
  font-size: 0.9375rem;
  color: white;
  margin-bottom: 0.6875rem;
  line-height: 1.6875rem;
  width: 87%;
  z-index: 3; }
  @media screen and (max-width: 768px) {
    .review__text {
      width: 90%;
      margin: 4%;
      font-size: 1rem;
      line-height: 1.125rem;
      font-weight: 400; } }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.review__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 7.5rem;
  height: 2.25rem;
  padding: 0.3125rem 0.8125rem 0.1875rem 1rem;
  background-color: #171819;
  border: 0.0625rem solid transparent;
  border-radius: 0.3125rem;
  z-index: 3; }
  .review__btn:hover {
    background-color: black; }
  @media screen and (max-width: 768px) {
    .review__btn {
      margin-left: 32%; } }
  @media screen and (max-width: 480px) {
    .review__btn {
      padding: 0.3125rem;
      margin-left: 0; } }

.btn__link {
  color: white; }
  @media screen and (max-width: 480px) {
    .btn__link {
      display: none; } }

.btn__link--phones {
  display: none; }
  @media screen and (max-width: 480px) {
    .btn__link--phones {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: white;
      white-space: nowrap; } }

.team {
  background-image: url("../img/team/bg_team.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.conteiner__team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  right: 0;
  position: absolute; }
  .conteiner__team::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2f3234;
    opacity: 0.8; }
  @media screen and (max-width: 768px) {
    .conteiner__team {
      width: 100%; } }

.team__content {
  z-index: 1;
  margin-left: 10%; }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%;
      text-align: center;
      margin: 0; } }

.team__title {
  color: #f8b43a; }

.team__name {
  font-size: 1.25rem;
  color: white; }
  .team__name::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0.625rem 0.125rem 0.625rem;
    border-right: 0.4375rem solid transparent;
    border-left: 0.4375rem solid transparent;
    border-top: 0.6875rem solid #f8b43a;
    border-bottom: 0.0625rem solid transparent; }

.team__info {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  margin-left: 5%; }

.team__info__img {
  background: url("../img/team/aphex.png") center center no-repeat;
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  border-radius: 50%; }

.team__info__box {
  width: 50%; }

.team__info__occupation {
  margin: 0; }

.team__info__text {
  color: #b3b3b3; }

.team__section--active .team__name {
  color: #f8b43a; }
  .team__section--active .team__name::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0.625rem 0.125rem 0.625rem;
    border-right: 0.4375rem solid transparent;
    border-left: 0.4375rem solid transparent;
    border-bottom: 0.6875rem solid #f8b43a;
    border-top: 0.0625rem solid transparent; }

.team__section--active .team__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team__section--active .team__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.menu {
  background-image: url("../img/menu/bg_menu.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.conteiner__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu__title {
  position: absolute;
  margin: 10% 5%;
  color: white; }

.menu__accordeon {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .menu__accordeon {
      width: 100%; } }

.menu__accordeon-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.menu__accordeon-trigger {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 5rem;
  position: relative; }
  .menu__accordeon-trigger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2f3234;
    opacity: 0.7; }
  @media screen and (max-width: 480px) {
    .menu__accordeon-trigger {
      width: 4.0625rem; } }

.trigger__meat {
  background-image: url("../img/menu/Accord1.png"); }

.trigger__vegy {
  background-image: url("../img/menu/Accord2.png"); }

.trigger__diet {
  background-image: url("../img/menu/Accord3.png"); }

.menu__accordeon-trigger-title {
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: white;
  font-size: 3.75rem; }

.menu__accordeon-content {
  background-color: #2f3234;
  color: white;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  padding: 1.875rem; }
  @media screen and (max-width: 480px) {
    .menu__accordeon-content {
      padding: 0.6rem;
      line-height: 1rem; } }

@media screen and (max-width: 480px) {
  .item--is-activ {
    position: absolute;
    z-index: 1; } }

.item--is-activ .menu__accordeon-trigger-title {
  color: #f8b43a; }

.item--is-activ .menu__accordeon-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.delivery {
  background-image: url("../img/delivery/bg_delivery.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.delivery__title {
  color: #f8b43a;
  text-align: center;
  margin: 10% 0 5% 0; }
  @media screen and (max-width: 768px) {
    .delivery__title {
      font-size: 5rem;
      margin: 6% 0 2.5rem 0; } }
  @media screen and (max-width: 480px) {
    .delivery__title {
      font-size: 2.5rem;
      margin: 6% 0 0.625rem 0; } }

.delivery__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.delivery__form--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .delivery__form--content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.delivery__form--box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 45%;
  margin-left: 5%; }
  @media screen and (max-width: 768px) {
    .delivery__form--box {
      width: 98%;
      margin-left: 2%; } }
  @media screen and (max-width: 480px) {
    .delivery__form--box {
      width: 90%;
      margin-left: 5%; } }

.delivery__form--row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1rem; }
  @media screen and (max-width: 480px) {
    .delivery__form--row {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 0.625rem; } }

.delivery__form--block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0.625rem; }

.delivery__form--label {
  margin-bottom: 1.0625rem;
  color: #fff;
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .delivery__form--label {
      font-size: 1.5625rem;
      line-height: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .delivery__form--label {
      font-size: 0.9375rem;
      line-height: 0.625rem; } }

.delivery__form--input {
  font-size: 0.875rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid white;
  border-radius: 0.3125rem;
  width: 100%; }

.delivery__form--input_textarea {
  height: 6.875rem;
  resize: none; }

.delivery__radio--title {
  font-size: 0.875rem;
  color: white;
  margin-left: 0.625rem; }
  @media screen and (max-width: 768px) {
    .delivery__radio--title {
      font-size: 1.25rem;
      line-height: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .delivery__radio--title {
      font-size: 0.9375rem;
      line-height: 0.9375rem; } }

.delivery__radio {
  position: relative;
  white-space: nowrap;
  margin-left: 0.625rem;
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.delivery__radio--item {
  position: absolute;
  top: 0;
  left: -416.625rem; }

.delivery__radio--fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
  position: relative; }
  .delivery__radio--fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e25028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.delivery__radio--item:checked + .delivery__radio--fake:after {
  width: 0.5rem;
  height: 0.5rem; }

.delivery__radio--checkbox .delivery__radio--fake {
  border-radius: 0rem; }

.delivery__radio--checkbox .delivery__radio--item + .delivery__radio--fake:after {
  background: transparent; }

.delivery__radio--checkbox .delivery__radio--item:checked + .delivery__radio--fake:after {
  background: url("../img/delivery/check.svg") 50% no-repeat transparent;
  background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem; }

.delivery__form--button {
  margin-left: 0.625rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent;
  background-color: #e25028;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .delivery__form--button:hover {
    background-color: #bd3d1a; }
  @media screen and (max-width: 768px) {
    .delivery__form--button {
      font-size: 1.25rem;
      line-height: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .delivery__form--button {
      font-size: 0.9375rem;
      line-height: 0.9375rem; } }

.delivery__form--button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent; }

.map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.conteiner__map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.ymap {
  margin-bottom: 10%;
  width: 100%;
  height: 90%; }

.map__hint {
  padding: 10px;
  min-height: 25px;
  min-width: 125px;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color: #f8c979;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ecc175), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #ecc175 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #ecc175 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #ecc175 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  border-radius: 5px; }

.map__balloon {
  padding: 20px;
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  border-radius: 20px; }

.map__burger-img {
  float: right;
  height: 100px;
  width: 100px; }

.footer {
  height: 10%;
  background: url("../img/bg_footer.png") center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 0.625rem 5%; } }
  @media screen and (max-width: 480px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 15%; } }

.footer__box {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__box {
      width: 100%;
      text-align: center; } }

.footer__address {
  color: white;
  font-size: 0.875rem; }

.footer__phone {
  color: #e25028;
  text-decoration: none;
  font-size: 0.875rem; }

.footer__box--right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__box--right {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 0.625rem; }

.socials__link {
  fill: white;
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .socials__link:hover {
    opacity: 1; }
  .socials__link--icon {
    width: 1.25rem;
    height: 1.25rem; }

.aside__nav {
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .aside__nav {
      display: none; } }

.aside__list {
  list-style: none; }

.aside__item {
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 0.625rem; }

.aside__link {
  position: relative; }

.aside__link--radius {
  position: absolute;
  top: -0.25rem;
  right: -0.6875rem;
  width: 0.625rem;
  height: 0.625rem;
  border: 0.0625rem solid transparent;
  border-radius: 50%; }
  .aside__link--radius:hover {
    width: 0.9375rem;
    height: 0.9375rem;
    border: 0.0625rem solid white; }

.aside__item--active .aside__link--radius {
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0625rem solid white; }

.hamburger__nav {
  position: fixed;
  top: 3.4375rem;
  right: 2.5rem;
  z-index: 10;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger__nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hamburger__nav--item {
  background: white;
  width: 30px;
  height: 5px;
  border-radius: 3px; }
  .hamburger__nav--item:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px; }
  .hamburger__nav--item:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px; }

.hamburger__nav--is-active {
  position: fixed;
  top: 3.4375rem;
  right: 2.5rem;
  z-index: 10;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger__nav--is-active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .hamburger__nav--is-active .hamburger__nav--item {
    background: transparent; }
  .hamburger__nav--is-active .hamburger__nav--item:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .hamburger__nav--is-active .hamburger__nav--item:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2f3234;
  opacity: 0.99;
  display: none;
  z-index: 2; }
  .mobile-menu--is-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }

.nav--mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav__list--mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__link--mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.875rem;
  margin-top: 0.9375rem; }

.delivery__modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .delivery__modal::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2f3234;
    opacity: 0.5; }
  .delivery__modal--is-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.modal__box {
  background-color: white;
  border: 2px solid orange;
  width: 25rem;
  height: 12.5rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  z-index: 10;
  border-radius: 2.5rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .modal__box {
      width: 12.5rem;
      height: 12.5rem; } }

.modal__text {
  font-family: gagalin;
  font-size: 1.875rem;
  color: #2f3234;
  text-align: center;
  width: 100%;
  margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .modal__text {
      font-weight: 500; } }
  @media screen and (max-width: 480px) {
    .modal__text {
      font-size: 1.25rem; } }

.modal__btn {
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent;
  background-color: #e25028;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.42;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .modal__btn:hover {
    background-color: #bd3d1a; }

.success {
  font-size: 1.25rem;
  color: #2f3234; }

.error {
  font-size: 1.25rem;
  color: #e25028; }

.revew__modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .revew__modal::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2f3234; }
  .revew__modal--is-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.revew__modal__box {
  background-color: #2f3234;
  width: 90%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  z-index: 10;
  text-align: center; }

.revew__modal__text {
  font-size: 1.25rem;
  color: white;
  text-align: center;
  padding-bottom: 0.625rem;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .revew__modal__text {
      font-weight: 500;
      font-size: 1.5625rem; } }
  @media screen and (max-width: 480px) {
    .revew__modal__text {
      font-size: 0.9375rem; } }

.revew__modal__btn {
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent;
  background-color: #171819;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.42;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .revew__modal__btn:hover {
    background-color: #2f3234; }
