@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.sitecontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.h2__titlestyle {
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42; }

.main {
  background-image: url("../img/main/bg_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.main__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px; }

.header__logo {
  margin-right: auto;
  padding-top: 5px; }

.nav {
  margin-right: 15px; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.head__link {
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .head__link:hover {
    background-color: #cb411b; }

.main__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.main__img,
.main__textbox {
  padding-left: 15px;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main__textbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main__title {
  color: #f8b43a;
  margin: 0;
  padding-top: 60px; }

.main__text {
  color: white;
  line-height: 1;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500; }

.arrow__scroll {
  position: absolute;
  bottom: 5%; }

.about {
  background-image: url("../img/about/bg_about.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.about__img {
  height: 90px;
  margin-bottom: 30px; }

.about__title {
  color: #2f3234;
  padding: 0;
  text-align: center;
  margin-bottom: 60px;
  margin-top: -100px; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32%; }

.aboutbox__title {
  font-family: lifehack;
  font-size: 21.4px;
  color: #2f3234;
  text-align: center;
  width: 70%; }

.aboutbox__text {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 14.03px;
  color: #2f3234;
  text-align: center;
  line-height: 24px; }

.reviews {
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  min-width: 1100px; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

.review {
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .review:hover .review__bg {
    visibility: visible; }
  .review:hover .review__content {
    visibility: visible; }

.review__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  visibility: hidden;
  z-index: 2; }

.review__bg {
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  z-index: 1; }

.review__name {
  font-family: 'gagalin';
  font-size: 15px;
  color: white;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px; }

.review__text {
  font-family: 'ubuntu';
  font-weight: 400;
  font-size: 15px;
  color: white;
  margin-left: 20px;
  margin-bottom: 11px;
  line-height: 27px;
  width: 87%; }

.review__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  width: 120px;
  height: 36px;
  padding: 5px 13px 3px 16px;
  background-color: #2f3234;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 22px; }
  .review__btn:hover {
    background-color: #1e2021; }

.btn__link {
  color: white; }

.team {
  background-image: url("../img/team/bg_team.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.conteiner__team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  right: 0;
  position: absolute; }
  .conteiner__team::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 0; }

.team__content {
  z-index: 1;
  margin-left: 10%; }

.team__title {
  color: #f8b43a; }

.team__section--is-active .team__name {
  color: #f8b43a; }

.team__section--is-active .team__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team__section--is-active .team__name::before {
  border-top: 1px solid transparent;
  border-bottom: 11px solid #f8b43a; }

.team__name {
  font-size: 20px;
  color: white; }
  .team__name::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 10px 2px 10px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 11px solid #f8b43a;
    border-bottom: 1px solid transparent; }

.team__info {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none; }

.team__info__img {
  background: url("../img/team/aphex.png") center center no-repeat;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 5%; }

.team__info__box {
  width: 50%; }

.team__info__occupation {
  margin: 0; }

.team__info__text {
  color: #b3b3b3; }

.aside__nav {
  position: fixed;
  top: 10%;
  right: 5%; }

.aside__list {
  list-style: none; }

.aside__item {
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 10px; }

.aside__link {
  position: relative; }

.aside__link--radius {
  position: absolute;
  top: -4px;
  right: -11px;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%; }
  .aside__link--radius:hover {
    width: 15px;
    height: 15px;
    border: 1px solid white; }
