.about {
  background-image: url('../img/about/bg_about.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  display: flex;
  justify-content: center;
  color: $dark;
  text-align: center;
  @include tablets() {
    font-size: rem(100px);
    line-height: rem(80px);
    margin-bottom: rem(50px);
  }
  @include phones() {
    font-size: rem(60px);
    line-height: rem(50px);
    margin-bottom: rem(20px);
  }
}

.about__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  @include phones() {
    flex-direction: column;
    justify-content: center;
  }
}

.about__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 rem(7.7px);
  margin: 0 rem(7.7px);
  @include tablets() {
  margin: 0 rem(7px);
  padding: 0;
  };
  @include phones() {
    flex-direction: row;
    width: 100%;
    justify-content: baseline;
    margin: rem(7.7px) 0;
  }
  ;
}

.about__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include phones() {
    margin-left: rem(10px);
    width: 100%;
  }
  ;
}

.about__img {
  text-align: center;
  justify-content: center;
  @include tablets() {
    width: rem(150px);
    height: rem(150px);
  }
  @include phones() {
    width: rem(90px);
    height: rem(100px);
  }
}

.img__icon {
  &--meat {
    fill: #e25028;
  }
  ;
  &--hand {
    fill: #f8b43a;
  }
  ;
  &--natural {
    fill: #8ac03e;
  }
}

.aboutbox__title {
  font-family: lifehack;
  font-size: rem(21.4px);
  color: $dark;
  text-align: center;
  padding-bottom: rem(10px);
  width: 100%;
  @include tablets() {
    font-weight: 500;
    font-size: rem(28px);
    };
  @include phones() {
    font-size: rem(21.4px);
    padding-bottom: 0;
    margin-bottom: rem(5px);
    text-align: start;
  }
}

.aboutbox__text {
  font-family: Ubuntu;
  font-weight: 300;
  color: $dark;
  text-align: center;
  @include tablets() {
    font-size: rem(17px);
    line-height: rem(18px);
    };
  @include phones() {
    font-size: rem(15px);
    width: 95%;
    text-align: justify;
    line-height: rem(20px);
  }
}