.aside__nav {
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 10;
  @include tablets() {
    display: none;
  }
}

.aside__list {
  list-style: none;
}

.aside__item {
  width: rem(7px);
  height: rem(7px);
  background-color: white;
  border-radius: 50%;
  margin-bottom: rem(10px);
}

.aside__link {
  position: relative;
}

.aside__link--radius {
  position: absolute;
  top: rem(-4px);
  right: rem(-11px);
  width: rem(10px);
  height: rem(10px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  &:hover{
    width: rem(15px);
    height: rem(15px);
    border: rem(1px) solid white;
  }
}

.aside__item--active{
  .aside__link--radius{
    width: rem(15px);
    height: rem(15px);
    border: rem(1px) solid white;
    }
  }

.hamburger__nav{
  position: fixed;
  top: rem(55px);
  right: rem(40px);
  z-index: 10;
  display: none;
  @include tablets() {
    display: flex;
  }
}



.hamburger__nav--item{
  background: white;
  width: 30px;
  height: 5px;
  border-radius: 3px;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px;
  };
  &:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px;
  };
}

.hamburger__nav--is-active{
  position: fixed;
  top: rem(55px);
  right: rem(40px);
  z-index: 10;
  display: none;
  @include tablets() {
    display: flex;
  };
  .hamburger__nav--item{
  background: transparent;
  };
  .hamburger__nav--item:before{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    transform: rotate(-45deg)
  };
  .hamburger__nav--item:after{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    background: white;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    transform: rotate(45deg)
};
}