.burger{
  background: url('../img/burger/bg_burger.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}