.delivery {
  background-image: url('../img/delivery/bg_delivery.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery__title {
  color: $yellow;
  text-align: center;
  margin: 10% 0 5% 0;
  @include phones() {
    font-size: rem(40px);
    margin: 5% 0 5% 0;
  }
}

.delivery__form {
  display: flex;
}

.delivery__form--content {
  display: flex;
  flex-direction: row;
  @include tablets() {
    flex-direction: column;
  }
}

.delivery__form--box {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 5%;
  @include tablets() {
    width: 78%;
    margin-left: 10%;
  }
  ;
  @include phones() {
    width: 90%;
    margin-left: 5%;
  }
}

.delivery__form--row {
  display: flex;
  flex-direction: row;
  margin-bottom: rem(16px);
  @include phones() {
    justify-content: center;
  }
}

.delivery__form--block {
  display: block;
  width: 100%;
  flex: 1;
  margin-left: rem(10px);
}

.delivery__form--label {
  margin-bottom: rem(17px);
  color: #fff;
  font-size: rem(14px);
  @include tablets() {
    font-size: rem(15px);
  }
}

.delivery__form--input {
  font-size: rem(14px);
  padding: rem(5px) rem(10px);
  border: rem(1px) solid white;
  border-radius: rem(5px);
  width: 100%;
}

.delivery__form--input_textarea {
  height: rem(110px);
  resize: none;
}

.delivery__radio--title {
  font-size: rem(14px);
  color: white;
  margin-left: rem(10px);
}

.delivery__radio {
  position: relative;
  white-space: nowrap;
  margin-left: rem(10px);
  margin-right: rem(20px);
  display: flex;
  align-items: center;
}

.delivery__radio--item {
  position: absolute;
  top: 0;
  left: rem(-6666px);
}

.delivery__radio--fake {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: white;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: $orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}

.delivery__radio--item:checked {
  &+.delivery__radio--fake {
    &:after {
      width: rem(8px);
      height: rem(8px);
    }
  }
}

.delivery__radio--title {
  font-size: rem(14px);
  color: white;
  margin-left: rem(10px);
}

.delivery__radio--checkbox {
  .delivery__radio--fake {
    border-radius: rem(0px);
  }
  .delivery__radio--item {
    &+.delivery__radio--fake {
      &:after {
        background: transparent;
      }
    }
  }
  .delivery__radio--item:checked {
    &+.delivery__radio--fake {
      &:after {
        background: url("../img/delivery/check.svg") 50% no-repeat transparent;
        background-size: contain;
        width: rem(11px);
        height: rem(9px);
      }
    }
  }
}

.delivery__form--button {
  margin-left: rem(10px);
  padding: rem(10px) rem(17px);
  border-radius: rem(5px);
  border: rem(1px) solid transparent;
  background-color: $orange;
  color: #fff;
  font: {
    size: rem(13px);
    weight: 500;
  }
  ;
  line-height: 1.42;
  transition: .5s;
  &:hover {
    background-color: darken($orange, 10%);
  }
  ;
}

.delivery__form--button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}