  .menu {
    background-image: url('../img/menu/bg_menu.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteiner__menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  .menu__title {
    position: absolute;
    margin: 10% 5%;
    color: white;
  }

  .menu__accordeon {
    position: absolute;
    right: 0;
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: row;
    @include tablets() {
        width: 100%;
    };
  }

  .menu__accordeon-item {
    display: flex;
    height: 100%;
  }

  .menu__accordeon-trigger {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: rem(80px);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $dark;
      opacity: 0.7;
    }
  }

  .trigger {
    &__meat {
      background-image: url('../img/menu/Accord1.png');
    }
    ;
    &__vegy {
      background-image: url('../img/menu/Accord2.png');
    }
    ;
    &__diet {
      background-image: url('../img/menu/Accord3.png');
    }
    ;
  }

  .menu__accordeon-trigger-title {
    white-space: nowrap;
    transform: rotate(-90deg);
    color: white;
    font-size: rem(60px);
  }

  .menu__accordeon-content {
    background-color: $dark;
    color: white;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    padding: rem(30px);
  }

  .item--is-activ {
    .menu__accordeon-trigger-title {
      color: $yellow;
    }
    ;
    .menu__accordeon-content {
      display: flex;
    }
    ;
  }