.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: $dark;
  opacity: 0.99;
  display: none;
  z-index: 2;
  &--is-active{
    display: flex;
    overflow: hidden;
  }
}

.nav--mobile {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.nav__list--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link--mobile {
  display: flex;
  flex-direction: column;
  font-size: rem(30px);
  margin-top: rem(15px);
}