.team {
  background-image: url('../img/team/bg_team.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.conteiner__team {
  display: flex;
  height: 100%;
  width: 50%;
  right: 0;
  position: absolute;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 0;
  }
}

.team__content {
  z-index: 1;
  margin-left: 10%;
}

.team__title {
  color: $yellow;
}

.team__section--is-active{
  .team__name{
    color: $yellow;
  };
  .team__info{
    display: flex;
  };
  .team__name::before {
    border-top: 1px solid transparent;
    border-bottom: 11px solid $yellow;}
}

.team__name {
  font-size: 20px;
  color: white;
  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 10px 2px 10px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 11px solid $yellow;
    border-bottom: 1px solid transparent;
  }
}

.team__info {
  color: white;
  display: flex;
  display: none;
}

.team__info__img {
  background: url('../img/team/aphex.png') center center no-repeat;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 5%;
}

.team__info__box{
  width: 50%;
}

.team__info__occupation{
  margin: 0;
}

.team__info__text {
  color: darken(white, 30)
}